.ContainerInicio{
    margin:0;
    height: 60vh;
    width:100%;
    background-color:rgba(0,0,0,0.5);
    background-blend-mode: darken;
    background-image:url("./ImagenesSli/InicioImagen.jpg");
    background-attachment:fixed;
    color:white;
    background-size: cover;
    background-position: center;
}